In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import accuracy_score, classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
import pandas as pd

In [2]:
pokemon_df_rf = pd.read_csv('pokemon_df_rf.csv')

In [3]:
pokemon_df_rf

,Winner_mark,Generation_first,Legendary_first,Generation_second,Legendary_second,HP_diff,Attack_diff,Defense_diff,Sp. Atk_diff,Sp. Def_diff,Speed_diff
0,2,2,0,3,0,-20,-6,10,-15,10,-19
1,2,5,1,5,1,0,-39,-18,18,39,0
2,2,2,0,5,0,-20,-35,10,-45,10,0
3,2,2,0,5,0,-37,-80,-50,10,-50,-28
4,1,1,0,2,0,50,50,-105,105,-160,50
...,...,...,...,...,...,...,...,...,...,...,...
49995,1,5,1,1,0,70,80,30,80,95,30
49996,1,5,0,5,0,25,30,0,-15,5,8
49997,2,3,0,3,0,-13,-65,40,25,10,-25
49998,1,1,0,1,0,15,-5,-20,-40,0,55
49999,1,1,0,1,0,8,24,28,124,80,65

In [4]:
#pokemon_df.drop(['Generation_first', 'Legendary_first', 'Generation_second', 'Legendary_second'], axis=1, inplace=True)
#의미가 0.01만큼 있음

In [5]:
X = pokemon_df_rf.drop('Winner_mark',axis=1)
y = pokemon_df_rf['Winner_mark']

In [6]:
# Train/Test(val) 분리
X_train,X_test, y_train,y_test = train_test_split(X,y,stratify=y,random_state=1)

In [7]:
tree = DecisionTreeClassifier(random_state=1)
tree.fit(X_train,y_train)

DecisionTreeClassifier(random_state=1)

In [8]:
pred_train = tree.predict(X_train)
pred_test = tree.predict(X_test)

In [9]:
accuracy_score(y_train,pred_train),accuracy_score(y_test,pred_test)

(0.99992, 0.9152)

In [10]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_train,pred_train)

array([[17701,     0],
       [    3, 19796]], dtype=int64)

In [67]:
print(classification_report(y_test,pred_test))

              precision    recall  f1-score   support

           1       0.91      0.91      0.91      5900
           2       0.92      0.92      0.92      6600

    accuracy                           0.92     12500
   macro avg       0.92      0.91      0.91     12500
weighted avg       0.92      0.92      0.92     12500