In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import accuracy_score, classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
import pandas as pd

In [12]:
pokemon_df = pd.read_csv('data/pokemon_df_rf.csv')

In [14]:
X = pokemon_df.drop('Winner_mark',axis=1)
y = pokemon_df['Winner_mark']

In [15]:
# Train/Test(val) 분리
X_train,X_test, y_train,y_test = train_test_split(X,y,stratify=y,random_state=1)

In [16]:
tree = DecisionTreeClassifier(random_state=1)
tree.fit(X_train,y_train)

DecisionTreeClassifier(random_state=1)

In [17]:
pred_train = tree.predict(X_train)
pred_test = tree.predict(X_test)

In [18]:
accuracy_score(y_train,pred_train),accuracy_score(y_test,pred_test)

(0.99992, 0.9152)

In [19]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_train,pred_train)

array([[17701,     0],
       [    3, 19796]], dtype=int64)

In [20]:
print(classification_report(y_test,pred_test))

              precision    recall  f1-score   support

           1       0.91      0.91      0.91      5900
           2       0.92      0.92      0.92      6600

    accuracy                           0.92     12500
   macro avg       0.92      0.91      0.91     12500
weighted avg       0.92      0.92      0.92     12500

In [21]:
data = pd.read_csv('data/type_data.csv')

In [22]:
data = pd.get_dummies(data, columns = ['Type 1_first','Type 1_second','Type 2_first','Type 2_second'])

In [23]:
X_type = data.drop('Winner_mark',axis=1)
y_type = data['Winner_mark']

In [24]:
X_type_train,X_type_test,y_type_train,y_type_test = train_test_split(X_type,y_type,stratify=y_type,random_state=1)

In [39]:
tree = DecisionTreeClassifier(random_state=1)
tree.fit(X_type_train,y_type_train)

DecisionTreeClassifier(random_state=1)

In [40]:
pred_train_type = tree.predict(X_type_train)
pred_test_type = tree.predict(X_type_test)

In [41]:
accuracy_score(y_type_train,pred_train_type),accuracy_score(y_type_test,pred_test_type)

(1.0, 0.60768)

In [122]:
pd.read_csv('data/pokemon_df_rf.csv')

,Winner_mark,Generation_first,Legendary_first,Generation_second,Legendary_second,HP_diff,Attack_diff,Defense_diff,Sp. Atk_diff,Sp. Def_diff,Speed_diff
0,2,2,0,3,0,-20,-6,10,-15,10,-19
1,2,5,1,5,1,0,-39,-18,18,39,0
2,2,2,0,5,0,-20,-35,10,-45,10,0
3,2,2,0,5,0,-37,-80,-50,10,-50,-28
4,1,1,0,2,0,50,50,-105,105,-160,50
...,...,...,...,...,...,...,...,...,...,...,...
49995,1,5,1,1,0,70,80,30,80,95,30
49996,1,5,0,5,0,25,30,0,-15,5,8
49997,2,3,0,3,0,-13,-65,40,25,10,-25
49998,1,1,0,1,0,15,-5,-20,-40,0,55
49999,1,1,0,1,0,8,24,28,124,80,65

In [121]:
data

,Unnamed: 0,Winner_mark,Type 1_first_0,Type 1_first_1,Type 1_first_2,Type 1_first_3,Type 1_first_4,Type 1_first_5,Type 1_first_6,Type 1_first_7,...,Type 2_second_9,Type 2_second_10,Type 2_second_11,Type 2_second_12,Type 2_second_13,Type 2_second_14,Type 2_second_15,Type 2_second_16,Type 2_second_17,Type 2_second_18
0,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,2,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,3,2,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
4,4,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49995,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
49996,49996,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
49997,49997,2,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
49998,49998,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
49999,49999,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0

In [42]:
# categorical

In [44]:
data_categorical = pd.read_csv('data/data_categorical.csv')

In [45]:
data_categorical = pd.get_dummies(data_categorical, columns = ['Type 1_first','Type 1_second','Type 2_first','Type 2_second','Legendary_first','Legendary_second','Generation_first','Generation_second'])

In [46]:
X_cate = data.drop('Winner_mark',axis=1)
y_cate = data['Winner_mark']

In [47]:
X_cate_train,X_cate_test,y_cate_train,y_cate_test = train_test_split(X_cate,y_cate,stratify=y_cate,random_state=1)

In [117]:
tree = DecisionTreeClassifier(random_state=1,max_depth=19)
tree.fit(X_cate_train,y_cate_train)

DecisionTreeClassifier(max_depth=19, random_state=1)

In [118]:
pred_cate_train = tree.predict(X_cate_train)
pred_cate_test = tree.predict(X_cate_test)

In [119]:
accuracy_score(y_cate_train,pred_cate_train),accuracy_score(y_cate_test,pred_cate_test)

(0.6952533333333333, 0.6324)